*.rbc
capybara-*.html
.rspec
/workshop01/db/*.sqlite3
/workshop01/db/*.sqlite3-journal
/workshop01/db/*.sqlite3-[0-9]*
/workshop01/public/system
/workshop01/coverage/
/workshop01/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Ignore all logfiles and tempfiles.
/workshop01/log/*
/workshop01/tmp/*
!/workshop01/log/.keep
!/workshop01/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
/workshop01/config/initializers/secret_token.rb
/workshop01/config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

## Environment normalization:
/workshop01/.bundle
/workshop01/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/workshop01/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
/workshop01/node_modules/

# Ignore precompiled javascript packs
/workshop01/public/packs
/workshop01/public/packs-test
/workshop01/public/assets

# Ignore yarn files
/workshop01/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
/workshop01/storage/*
!/workshop01/storage/.keep
!/workshop01/tmp/storage/
!/workshop01/tmp/storage/.keep


# Ignore pidfiles, but keep the directory.
/workshop01/tmp/pids/*
!/workshop01/tmp/pids/
!/workshop01/tmp/pids/.keep

# ignore packing files
/rails-default/*
*.zip
