*.rbc
capybara-*.html
.rspec
/workshop00/db/*.sqlite3
/workshop00/db/*.sqlite3-journal
/workshop00/db/*.sqlite3-[0-9]*
/workshop00/public/system
/workshop00/coverage/
/workshop00/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Ignore all logfiles and tempfiles.
/workshop00/log/*
/workshop00/tmp/*
!/workshop00/log/.keep
!/workshop00/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
/workshop00/config/initializers/secret_token.rb
/workshop00/config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

## Environment normalization:
/workshop00/.bundle
/workshop00/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/workshop00/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
/workshop00/node_modules/

# Ignore precompiled javascript packs
/workshop00/public/packs
/workshop00/public/packs-test
/workshop00/public/assets

# Ignore yarn files
/workshop00/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
/workshop00/storage/*
!/workshop00/storage/.keep
!/workshop00/tmp/storage/
!/workshop00/tmp/storage/.keep


# Ignore pidfiles, but keep the directory.
/workshop00/tmp/pids/*
!/workshop00/tmp/pids/
!/workshop00/tmp/pids/.keep

# ignore packing files
/rails-default/*
*.zip
