<%= stylesheet_link_tag "index" %>

<h1><%= @message %></h1>


<%= image_tag("emoji.jpg", size: "64x64", alt: "hi") %>

<h2>
  Repository
  <%= link_to "https://github.com/sohwendy/iss", "https://github.com/sohwendy/iss", target: "_blank" %>
</h2>
